.env
202601 (1).json
yale_crawl.jsonl
clean_yale_crawl.jsonl
clean_yale_crawl_v2.jsonl

__pycache__/
**pyc

embeddings_with_text.npz
embeddings_with_text_v2.npz
embeddings_with_text_v3.npz
focused_yale_academic_crawl.jsonl
focused_yale_academic_crawl_v2.jsonl
certificates.json
yale_subject_pages_raw_text.json
major_reqs_raw_text.json
